[submodule "subprojects/ngtcp2"]
	path = subprojects/ngtcp2
	url = https://github.com/ngtcp2/ngtcp2.git
[submodule "demo-magic"]
	path = demo-scripts/demo-magic
	url = https://github.com/paxtonhare/demo-magic.git
